/* reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* Utility Components */

:root {
  font-size: 62.5%;
  /*  Custom Properties */

  /* Main Color */
  --primary--color: #282828;

  /* Secondary Color */
  --secondary-color: #1e1e1e;

  /* Secondary Color Modified*/
  --secondary-color-m: #333333;

  /* tertiary color */
  --tertiary-color: #333333;

  /* tertiary color Modified*/
  --tertiary-color-m: #01727498;
}

body {
  font-family: 'Baloo Tamma 2', cursive;
  line-height: 1.8;
  display: flex;
}
/* List items */
li {
  list-style: none;
}
/* Abchor Tags */
a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
/* body => side & main  */

/* Main Styling */

/* Side Nav */
aside#side_nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
.side_nav_content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--primary--color);
}

.side_nav_content_logo img {
  width: calc(3vw + 3vh);

  object-fit: cover;
}
ul.side_nav_content__social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
ul.side_nav_content__social a i {
  /* 20px => 2rem => {1rem + [(10/1500) * 100]} => Dynamic Value  view port = 1500px */
  font-size: calc(1rem + 0.66667vw);
  color: white;
  padding-bottom: calc(2rem + 0.66667vw);
  transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

ul.side_nav_content__social a i:hover,
ul.side_nav_content__social a i:active {
  /* active = mobile hover */
  color: rgb(255, 176, 176);
}

/* Main Content */

/* All content container => main elemnet */
main {
  flex: 1;
}

/* Main Nav Header */

header#header {
  background-color: var(--secondary-color);
  height: calc(3vw + 3vh);
  /* block witdh auto 100% 가로는 높이만 설정해주면됨 */
}

nav#header_main_nav {
  height: 100%;
  /* height 100%을 주지않으면 li에 할당된 값만큼 높이가 커지기때문에
   부모 높이를 상속받기위해 사용 (3vw + 3vh) */
}

ul.header_main_links {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
ul.header_main_links li {
  padding-right: 3vw;
}
ul.header_main_links li a {
  padding: 0.2rem 0.5rem;
  position: relative;
  font-size: calc(1rem + 00.66667vw);
}
ul.header_main_links li a:link::before,
ul.header_main_links li a:visited::before,
ul.header_main_links li a:link::after,
ul.header_main_links li a:visited::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #fff;
  transform: scaleX(0);
  /* height : 0 */
  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}
ul.header_main_links li a:link::before,
ul.header_main_links li a:visited::before {
  top: 0;
  /* Transform origin is center by defalut */
  transform-origin: left;
}
ul.header_main_links li a:link::after,
ul.header_main_links li a:visited::after {
  bottom: 0;
  transform-origin: right;
}
ul.header_main_links li a:hover::before,
ul.header_main_links li a:active::before,
ul.header_main_links li a:hover::after,
ul.header_main_links li a:active::after {
  transform: scaleX(1);
}

/* showcase */
section#showcase {
  height: 100vh;
  background-image: url('./images/13.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* not scroll */
}
div.showcase_content {
  background-color: var(--secondary-color-m);
  padding: calc(1rem + 2vw);
  /* 100분의 1 단위  너비 1500이면 15px / vh not working*/
  height: calc(5rem + 20vmax);
  /* 20vmax = 1500의 20%*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  animation: hero 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@keyframes hero {
  0% {
    transform: translateX(100rem) rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.showcase_content_title {
  font-size: calc(2rem + 3vw);
  color: white;
  /* 가로 = vw */
  /* 너비 = 600일경우 6 곱하기 3 =18px 
    20px + 18px = 38px */
}
.showcase_content_para {
  font-family: 'Indie Flower', cursive;
  font-size: calc(1.5rem + 1vw);
  color: white;
}
.showcase_content_link:link,
.showcase_content_link:visited {
  padding: 1rem 0;
  /* click comfort */
  transition: all 0.5s ease-in-out;
  width: 9rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 0;
  /* My work >>> after */
}
.showcase_content_link:link::after,
.showcase_content_link:visited::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary--color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
  z-index: -1;
}
.showcase_content_link:hover::after,
.showcase_content_link:active::after {
  transform: scaleX(1);
  transform-origin: left;
}
section#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: var(--primary--color);
}
.work_card {
  padding: 2rem;
  /* basis : box의 기본너비값설정 
    basis 설정 후, grow로 값을주면 비율에맞게 화면에 채워줌*/
  flex-basis: 40rem;
  flex-grow: 1;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}
.work_card img {
  /* basis 뿐만아니라 img사용할땐 부모의 높이,너비에 맞게설정해줘야함 */
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: filter 0.4s ease;
}
.work_card img:hover,
.work_card img:active {
  filter: sepia(
    50%
  ); /* 주의사항 : width가 넓은순서대로 작성할것 
   images => position으로 반응형 조절*/
}

/* about */
#about {
  background-color: var(--primary--color);
  display: flex;
  padding: calc(1rem + 3vw);
  flex-wrap: wrap;
}
.about_img,
.about_content {
  flex-basis: 40rem;
  flex-grow: 1;
  padding: 2rem;
}
.about_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}
.about_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: calc(1rem + 3vw);
}
.about_title {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.about_title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary--color);
  height: 0.25rem;
  width: 20%;
}
.about_para {
  font-family: 'Indie Flower', cursive;
  line-height: 1.8;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}
.about_read_more a:link,
.about_read_more a:visited {
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 4px;
  position: relative;
  z-index: 1;
}
.about_read_more a:link::before,
.about_read_more a:visited::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  background-color: #414141;
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: bottom;
  z-index: -1;
}
.about_read_more a:hover::before,
.about_read_more a:active::before {
  transform: scaleY(1);
  transform-origin: top;
}
/* Services */
#services {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary--color);
  padding: 6rem 2rem 2rem;
  justify-content: center;
  align-items: center;

  /*  top  / right & left / bottom */
}
.service {
  padding: 4rem;
  margin: 0 2rem 4rem;
  flex-basis: 40rem;
  flex-grow: 1;
  background-color: #414141;
  border-bottom: 0.2rem solid #414141;
  border-right: 0.2rem solid #414141;
  border-left: 0.2rem solid #414141;
  /* hover시 border부분을 보이기 하기위함 */
  position: relative;
  z-index: 1;
}
.service::after {
  content: '';
  background-color: var(--primary--color);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
  z-index: -1;
}
.service:hover::after,
.service:active::after {
  transform: scaleX(1);
}
.service i,
.service .services_title {
  margin-bottom: 2rem;
}
.service i {
  font-size: 3rem;
  color: white;
}
.services_title {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}
.services_para {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: white;
}

/* Skills progress */

#skills {
  display: flex;
  flex-wrap: wrap;
  padding: calc(1rem + 2vw);
  background-color: var(--primary--color);
}
.skill_design,
.skills_coding {
  color: white;
  flex-grow: 1;
  flex-basis: 40rem;
  padding: calc(1rem + 2vw);
}
.skills_title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.skill_design h4,
.skills_coding h4 {
  font-size: 2rem;
  color: white;
}
.skills_progress {
  position: relative;
  display: block;
  padding: 0.5rem;
  border-radius: 3rem;
  width: 100%;
  margin-bottom: 2rem;
  background-color: var(--secondary-color-m);
}
.skills.skills_progress span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  background-color: rgb(224, 42, 42);
}
.skills_progress1 {
  animation: design-1 4s alternate infinite cubic-bezier(1, 1, 0.22, 1);
}
section#contact {
  height: 100vh;
  background-color: var(--primary--color);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.contact__form {
  flex-basis: 40rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.contact__form input,
.contact__form textarea {
  color: #000;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 2rem;
  background: transparent;
  border: none;
  border-bottom: var(--secondary-color) solid 0.1rem;
}
.contact__form textarea {
  height: 30vh;
}
input[type='submit'] {
  border: none;
  cursor: pointer;
}

@keyframes design-1 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}
.skills_progress2 {
  animation: design-2 4s alternate infinite cubic-bezier(1, 1, 0.22, 1);
}
@keyframes design-2 {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.skills_progress3 {
  animation: design-3 4s alternate infinite cubic-bezier(1, 1, 0.22, 1);
}
@keyframes design-3 {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}
.skills_progress4 {
  animation: design-4 4s alternate infinite cubic-bezier(1, 1, 0.22, 1);
}
@keyframes design-4 {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}
.skills_progress5 {
  animation: design-5 4s alternate infinite cubic-bezier(1, 1, 0.22, 1);
}
@keyframes design-5 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}
.skills_progress6 {
  animation: design-6 4s alternate infinite cubic-bezier(1, 1, 0.22, 1);
}
@keyframes design-6 {
  0% {
    width: 0;
  }

  100% {
    width: 60%;
  }
}
/* max-width : 900px Mark  */

@media screen and (max-width: 900px) {
  section#showcase {
    background-position: 90%;
    align-items: flex-end;
  }
}

/* max-width : 610px Mark  */

@media screen and (max-width: 610px) {
  /* Main Nav Header */
  header#header {
    position: absolute;
  }
  nav#header_main_nav {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: var(--secondary-color);
    text-align: center;
    z-index: 1000;
  }
  .clicked {
    left: 55%;
  }

  .header_main_nav_hamburger {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .line {
    width: 100%;
    height: 0.3rem;
    background-color: #ffff;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
  }
  ul.header_main_links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  ul.header_main_links li {
    margin-bottom: 4vh;
    margin-left: 6vw;
    opacity: 0;
  }
  ul.header_main_links li:nth-child(1) {
    transition: all 0.5s ease-in-out 0.2s;
  }
  ul.header_main_links li:nth-child(2) {
    transition: all 0.5s ease-in-out 0.4s;
  }
  ul.header_main_links li:nth-child(3) {
    transition: all 0.5s ease-in-out 0.6s;
  }
  ul.header_main_links li:nth-child(4) {
    transition: all 0.5s ease-in-out 0.8s;
  }
  ul.header_main_links li:nth-child(5) {
    transition: all 0.5s ease-in-out 1s;
  }
  ul.header_main_links li:nth-child(6) {
    transition: all 0.5s ease-in-out 1.2s;
  }
  ul.header_main_links li.fade {
    opacity: 1;
  }
  /* javascript need */
  .clicked div.line-1 {
    /* 360 + 45 deg */
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
  }
  .clicked div.line-2 {
    opacity: 0;
  }
  .clicked div.line-3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
  }
  section#showcase {
    background-position: 75%;
  }
  /*  Service Section */

  section#services {
    padding: 6rem 3rem 3rem;
  }
  .service {
    padding: calc(1rem + 2vw);
    margin: 0 0 calc(1rem + 2vw);
  }
  .services_title {
    font-size: calc(1.2rem + 2vw);
  }
  .services_para {
    font-size: calc(0.8rem + 1.5vw);
  }
}
