/* reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* Utility Components */

:root {
  font-size: 62.5%;
  /*  Custom Properties */

  /* Main Color */
  --primary--color: #014d4e;

  /* Secondary Color */
  --secondary-color: #ff9408;

  /* Secondary Color Modified*/
  --secondary-color-m: #ff94088e;

  /* tertiary color */
  --tertiary-color: #017374;

  /* tertiary color Modified*/
  --tertiary-color-m: #01727498;
}

body {
  font-family: 'Baloo Tamma 2', cursive;
  line-height: 1.8;
  display: flex;
}
/* List items */
li {
  list-style: none;
}
/* Abchor Tags */
a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
/* body => side & main  */

/* Main Styling */

/* Side Nav */
aside#side_nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
.side_nav_content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--primary--color);
}

.side_nav_content_logo img {
  width: calc(3vw + 3vh);

  object-fit: cover;
}
ul.side_nav_content__social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
ul.side_nav_content__social a i {
  /* 20px => 2rem => {1rem + [(10/1500) * 100]} => Dynamic Value  view port = 1500px */
  font-size: calc(1rem + 0.66667vw);
  color: white;
  padding-bottom: calc(2rem + 0.66667vw);
  transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

ul.side_nav_content__social a i:hover,
ul.side_nav_content__social a i:active {
  /* active = mobile hover */
  color: var(--secondary-color);
}

/* Main Content */

/* All content container => main elemnet */
main {
  flex: 1;
}

/* Main Nav Header */

header#header {
  background-color: var(--secondary-color);
  height: calc(3vw + 3vh);
  /* block witdh auto 100% 가로는 높이만 설정해주면됨 */
}

nav#header_main_nav {
  height: 100%;
  /* height 100%을 주지않으면 li에 할당된 값만큼 높이가 커지기때문에
   부모 높이를 상속받기위해 사용 (3vw + 3vh) */
}

ul.header_main_links {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
ul.header_main_links li {
  padding-right: 3vw;
}
ul.header_main_links li a {
  padding: 0.2rem 0.5rem;
  position: relative;
  font-size: calc(1rem + 00.66667vw);
}
ul.header_main_links li a:link::before,
ul.header_main_links li a:visited::before,
ul.header_main_links li a:link::after,
ul.header_main_links li a:visited::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: #fff;
  transform: scaleX(0);
  /* height : 0 */
  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}
ul.header_main_links li a:link::before,
ul.header_main_links li a:visited::before {
  top: 0;
  /* Transform origin is center by defalut */
  transform-origin: left;
}
ul.header_main_links li a:link::after,
ul.header_main_links li a:visited::after {
  bottom: 0;
  transform-origin: right;
}
ul.header_main_links li a:hover::before,
ul.header_main_links li a:active::before,
ul.header_main_links li a:hover::after,
ul.header_main_links li a:active::after {
  transform: scaleX(1);
}

/* max-width : 610px Mark  */

@media screen and (max-width: 610px) {
  /* Main Nav Header */
  /* header#header {
    position: absolute;
  } */
  nav#header_main_nav {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: var(--secondary-color);
    text-align: center;
  }
  .clicked {
    left: 55%;
  }

  .header_main_nav_hamburger {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .line {
    width: 100%;
    height: 0.3rem;
    background-color: #ffff;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
  }
  ul.header_main_links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  ul.header_main_links li {
    margin-bottom: 4vh;
    margin-left: 6vw;
    opacity: 0;
  }
  ul.header_main_links li:nth-child(1) {
    transition: all 0.5s ease-in-out 0.2s;
  }
  ul.header_main_links li:nth-child(2) {
    transition: all 0.5s ease-in-out 0.4s;
  }
  ul.header_main_links li:nth-child(3) {
    transition: all 0.5s ease-in-out 0.6s;
  }
  ul.header_main_links li:nth-child(4) {
    transition: all 0.5s ease-in-out 0.8s;
  }
  ul.header_main_links li:nth-child(5) {
    transition: all 0.5s ease-in-out 1s;
  }
  ul.header_main_links li:nth-child(6) {
    transition: all 0.5s ease-in-out 1.2s;
  }
  ul.header_main_links li.fade {
    opacity: 1;
  }
  /* javascript need */
  .clicked div.line-1 {
    /* 360 + 45 deg */
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
  }
  .clicked div.line-2 {
    opacity: 0;
  }
  .clicked div.line-3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
  }
}
